.container {
    display: grid;
    place-content: center;
    height: 100vh;
    background: white;
  }
  
  button {
    background-color: black;
    border: none;
    color: white;
    padding: 2rem 4rem;
    font-size: 3rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  transform 0.2s;
  }
  
  
  
  
  
  .button-loader {
    display: flex;
    gap: .25rem;
  }
  .button-loader > div {
    width: .8rem;
    height: .8rem;
    background-color: white;
    border-radius: 50%;
    animation: 1.2s infinite ease-in-out load;
  }
  
  .button-loader  div:nth-child(1) {
    animation-delay: -0.32s;
  }
  .button-loader  div:nth-child(2) {
    animation-delay: -0.16s;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
  }
  @keyframes load {
    0%,80%,100%{
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}